<h1>{{ title }}</h1>
<hr>
<!-- <jqxSortable>
  <jqxBarGauge
    [width]="300" [height]="300" [colorScheme]="'scheme02'"
    [max]="150" [values]="values">
  </jqxBarGauge>
  <jqxBarGauge
    [width]="300" [height]="300" [colorScheme]="'scheme04'"
    [max]="150" [values]="values">
  </jqxBarGauge>
</jqxSortable> -->

<h1>grid</h1>
<jqxSortable #sortableGrid [grid]='[ 50, 50 ]'>
  <div>
    <jqxBarGauge
      [width]="300" [height]="300" [colorScheme]="'scheme01'"
      [max]="150" [values]="values">
    </jqxBarGauge>
  </div>
  <div>
    <jqxBarGauge
      [width]="300" [height]="300" [colorScheme]="'scheme02'"
      [max]="150" [values]="values">
    </jqxBarGauge>
  </div>
  <div>
    <h4>
      some widget button
    </h4>
    <div class="btn-wrapper">
      <jqxButton #buttonReference [width]="80" [height]="80" [textPosition]="left">Button</jqxButton>
    </div>
  </div>
  <div>
    <jqxBarGauge
      [width]="300" [height]="300" [colorScheme]="'scheme04'"
      [max]="150" [values]="values">
    </jqxBarGauge>
  </div>
  <div>
    <app-rbg-slider></app-rbg-slider>
  </div>
</jqxSortable>
